# Magic behaviour with __get, __set, __call and __callStatic is not exactly static analyser-friendly :)
# Fortunately, You can ignore it by the following config.
#
# vendor/bin/phpstan analyse app --memory-limit 200M -l 0
#
parameters:
  level: max
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#Static call to instance method Hyperf\\HttpServer\\Router\\Router::[a-zA-Z0-9\\_]+\(\)#'
    - '#Static call to instance method Hyperf\\DbConnection\\Db::[a-zA-Z0-9\\_]+\(\)#'
    - '#Method [a-zA-Z0-9\:\(\)\_\\]+ has parameter \$[a-zA-Z0-9\:\(\)\_\\]+ with no value type specified in iterable type array\.#'
    - '#Method [a-zA-Z0-9\:\(\)\_\\]+ return type has no value type specified in iterable type array\.#'
    - '#Property [a-zA-Z0-9\:\(\)\_\\]+\$fillable type has no value type specified in iterable type array\.#'
    - '#Property [a-zA-Z0-9\:\(\)\_\\]+\$casts type has no value type specified in iterable type array\.#'
    - '#Property [a-zA-Z0-9\:\(\)\_\\]+\$fields type has no value type specified in iterable type array\.#'
    - '#Method [a-zA-Z0-9\:\(\)\_\\]+find\(\) return type with generic class Hyperf\\Database\\Model\\Collection does not specify its types\: TKey\, TModel#'
    - '#Constant BASE_PATH not found\.#'
  excludePaths:
    - 'runtime/container/*'
